body{
    display: flex;
    flex-direction: column;
}

.cart-body,
.cart-info,
.cart-item {
    display: flex;
}

.cart-item{
    align-items: center;
}

.cart-body {
    flex: 1;
    flex-direction: column;
    padding: 55px;
    background-color: rgb(243, 243, 243);
    padding-bottom: 150px;
}

#cart-title {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

.cart-info{
    font-size: 24px;
}

#product-voice,
.product-title {
    flex: 4;
}

#total-voice,
#price-voice,
#quantity-voice,
#remove-voice,
.product-price,
.product-quantity,
.product-total,
.product-remove,
.totalprice{
    flex: 1;
}

.product-title,
.product-price,
.product-quantity,
.product-total,
.product-remove{
    font-size: 24px;
    font-weight: 600;
}

.product-image {
    width: 150px;
    border-radius: 5px;
}

.product-remove {
    width: 100%;
    height: 100%;
}

.remove-icon {
    cursor: pointer;
}

.cart-info,
.cart-item{
    gap: 16px;
    border-bottom: solid 1px black;
    padding: 10px 0;
}

.quantity-form {
    font-size: 24px;
    width: 50px;
    height: 15px;
    padding: 16px;
    border: 2px solid #636363;
    border-radius: 3px;
    color: #1c1c1c;
    font-weight: 600;
}

.interactions {
    align-self: flex-end;
    padding: 10px;
}

.btn{

}

.totalprice-voice,
.totalprice {
    font-size: 26px;
    padding: 0;
    margin: 0;
}

.totalprice-box {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    padding: 10px;
    font-weight: 600;
}

.totalprice-voice {
    flex: 7;
    text-align: right;
}

