.product-page {
    padding: 200px;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
}

.product-page img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    flex: 1;
}

.title {
    font-size: 48px;
    font-weight: 1000;
    margin: 0;
    text-transform: uppercase;
}

.subtitle {
    font-size: 32px;
    color: rgb(45, 45, 45);
    margin: 0;
}

.status {
    width: fit-content;
    padding: 8px;
    border: solid 2px #009b15;
    color: #009b15;
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    margin: 10px 0;
}

.description {
    font-size: 18px;
    font-weight: 600;
    margin: 24px 0;
    max-width: 450px;
}

#quantity {
    font-size: 18px;
    width: 40px;
    height: 25px;
    padding: 16px;
    border: 2px solid #636363;
    border-radius: 3px;
    color: #1c1c1c;
    font-weight: 600;
    margin-right: 8px;
}

.pricing {
    font-size: 32px;
    font-weight: 700;
    color: rgb(45, 45, 45);
}