:root{

}

body,
button{
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul,
p{    
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000000;
}

.navbar,
.navitems,
.main,
.product-info,
.footer,
.socialmedia-list {
    display: flex;
}

.navbar {
    justify-content: space-between;
    padding: 32px;
}

.navitems {
    gap: 16px;
    font-size: 19px;
    font-weight: 800;
    align-items: center;
}

.testing {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 32px;
}

#logo,
.footer-title{
    font-weight: 800;
    font-size: 32px;
}

#logo{
    margin: auto 0;
    color: #53C9AB;
}

.footer-title {
    margin: 0 0 10px;
}

.news {
    background: url("../media/backgrounds/keyboard-news.png") no-repeat center;
    background-size: auto 100%;
    color: white;
    padding: 100px 55px;
}

.news-title,
.news-subtext{
    text-shadow: 2px 4px 4px rgb(65, 65, 65);
    margin: 0;
}

.news-title {
    font-weight: 900;
    font-size: 52px;
}

.news-subtext{
    margin-top: 4px;
    font-weight: 700;
    font-size: 24px;
}

.btn {
    margin-top: 50px;
    background-color: #53C9AB;
    border:#53C9AB solid;
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
    font-weight: 800;
    font-size: 18px;
}

.main {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 150px 55px 250px;
}

.main img {
    width: 360px;
    height: auto;
    border-radius: 10px;
}

.product-info {
    justify-content: space-between;
    font-weight: 1000;
    font-size: 24px;
}

.footer {
    background-color: #53C9AB;
    color: white;
    justify-content: space-around;
    padding: 75px 55px 35px;
}

.socialmedia {
    width: min-content;
    white-space: nowrap;
}
.socialmedia-list{
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.socialmedia-list img {
    width: 32px;
}