body,
button{
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

ul,
p{    
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000000;
}

.section {
    font-weight: 800;
    font-size: 22px;
    text-transform: capitalize;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }

.section::before {
    transition: 300ms;
    height: 5px;
    border-radius: 5px;
    background-color: #53C9AB;
    content: "";
    position: absolute;
    width: 0%;
    bottom: 10px;
}

.section:hover::before {
    width: 100%;
}

.section:hover{
    opacity: 1;
}

.navbar,
.navitems,
.main,
.product-info,
.footer,
.socialmedia-list {
    display: flex;
}

.navbar {
    justify-content: space-between;
    padding: 32px 55px;
}

.navitems {
    gap: 16px;
    font-size: 19px;
    font-weight: 800;
    align-items: center;
}

/* .testing {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 32px;
} */

#logo,
.footer-title{
    font-weight: 800;
    font-size: 32px;
}

#logo{
    margin: auto 0;
    color: #53C9AB;
}

.footer-title {
    margin: 0 0 10px;
}

.news {
    background: url("../media/backgrounds/keyboard-news.png") no-repeat center;
    background-size: auto 100%;
    color: white;
    padding: 100px 55px;
    height: 280px;
}

.news-title,
.news-subtext{
    text-shadow: 2px 4px 4px rgb(116, 116, 116);
    margin: 0;
}

.news-title {
    font-weight: 900;
    font-size: 52px;
}

.news-subtext{
    margin-top: 4px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 24px;
}

.btn {
    font-weight: 800;
    font-size: 18px;
    height: 60px;
    padding: 16px;
    border: 2px solid #53C9AB;
    border-radius: 3px;
    background-color: #53C9AB;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffa742;
    border-color: #ffa742;
    transition: 200ms;
}

.main {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 150px 55px;
}

.product img {
    width: 360px;
    height: auto;
    border-radius: 10px;
}

.product{
    margin-bottom: 45px;
}

.product-info {
    justify-content: space-between;
    font-weight: 1000;
    font-size: 24px;
    margin-top: 12px;
    padding: 0 4px;
    text-transform: uppercase;
}

.footer {
    background-color: #53C9AB;
    color: white;
    justify-content: space-around;
    padding: 75px 55px 35px;
}

.socialmedia {
    width: min-content;
    white-space: nowrap;
}
.socialmedia-list{
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.socialmedia-list img {
    width: 32px;
}

.product img:hover{
    filter: brightness(90%);
    transition: 100ms;
}

.price{
    color: #009b15;
}